@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
* {
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}


img {
    max-width: none;
}

input {
    outline: 1px solid #34684F;
}

@keyframes floatY {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: floatY 4s ease-in-out infinite;
}

.animate-float-mockup {
    animation: floatY 3.3s ease-in-out infinite;
}

.gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(51, 103, 78, 0.09) 100%);

}

.rotateIn {
    animation: rotateIn .5s ease-in-out forwards;

}

.rotateOut {
    animation: rotateIn .5s ease-in-out forwards;

}

@keyframes rotateIn {
    0% {
        transform: rotate(-180deg) scale(0);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes rotateOut {
    0% {
        transform: rotate(180deg) scale(1);


    }
    100% {
        transform: rotate(360deg) scale(0);
    }
}

.animate-appear {
    animation: appear .6s ease-in-out forwards;
}


@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 100;
        transform: translateY(0);
    }
}


.animate-opacity {
    animation: opacity 1s ease-in-out forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}


@keyframes pulsation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 25;
    }
    50% {
        opacity: 100;
    }
    75% {
        opacity: 75;
    }
    100% {
        opacity: 0;
    }
}

.animate-pulsation1 {
    animation: pulsation 4s .2s linear infinite;
}

.animate-pulsation2 {
    animation: pulsation 5s .4s linear infinite;
}

.animate-pulsation3 {
    animation: pulsation 6s .6s linear infinite;
}


.animate-checkIn {
    animation: checkIn 0.4s ease-in-out forwards;
}
.animate-checkOut {
    animation: checkOut 0.4s ease-in-out forwards;
}

@keyframes checkIn {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }
    100% {
        opacity: 100;
        width: 40px;
        height: 40px;
    }
}

@keyframes checkOut {
    0% {
        opacity: 100;
        width: 40px;
        height: 40px;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}